// Base variables
$star-rating-font-family:               "FontAwesome";
$star-rating-stars-no:                  5;

$star-rating-empty-unicode:             "\f006";
$star-rating-empty-color:               #ccc;

$star-rating-rated-unicode:             "\f005";
$star-rating-rated-color:               #F9BF3B;

$star-rating-sm:                        20px;
$star-rating-default:                   32px;
$star-rating-lg:                        40px;
$star-rating-xl:                        46px;

$star-rating-inner-spacing:             1px;
$star-rating-inner-padding-vertical:    3px;